<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Products</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Products</h1>
    <a th:href="@{/product/create}">Add a product</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object : ${products}">
            <td th:text="${object.id}"></td>
            <td th:text="${object.name}"></td>
            <td th:text="${object.description}"></td>
            <td th:text="${object.price}"></td>
            <td>
                <a th:href="@{'/product/update/' + ${object.id}}">Update</a>
                <a th:if="${object.onOrder}" th:text="Delete" title="Can't Delete On Existing Order">Delete</a>
                <a th:if="${!object.onOrder}" th:href="@{'/product/delete/' + ${object.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>