<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Product</title>
</head>

<body>
<section layout:fragment="content">
  <h1>Update Product</h1>

  <div th:if="${viewModel.message != null}">
    <p th:text="${viewModel.message}"></p>
  </div>

  <div class="container">
    <form method="post" action="/product/update" >
      <div class="form-group">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="name">New Product Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${viewModel.data.name}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="description">New Product Description</label>
            <input type="text" class="form-control" id="description" name="description" th:value="${viewModel.data.description}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="stockNumber">New Stock Number</label>
            <input type="text" class="form-control" id="stockNumber" name="stockNumber" th:value="${viewModel.data.stockNumber}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="price">New Product Price</label>
            <input type="text" class="form-control" id="price" name="price" th:value="${viewModel.data.price}">
          </div>
        </div>
      </div>
      <input type="hidden" th:value="${viewModel.data.id}" name="id">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
</body>
</html>