<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Warehouses</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Warehouses</h1>
    <a th:href="@{/warehouse/create}">Create a Warehouse</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object : ${warehouses}">
            <td th:text="${object.id}"></td>
            <td th:text="${object.name}"></td>
            <td th:text="${object.city}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>