<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
    <h1>My Account</h1>
</div>
<ul class="nav">
    <li><a href="index.html"><button>Home</button></a></li>
    <li><a href="#products"><button>Products</button></a></li>
    <li><a href="#contact"><button>MyCart</button></a></li>
    <li><a href="myaccount.html"><button>My Account</button></a></li>
</ul>
<div class="runing">
    <h1>Setting of account</h1>
    <li><a href="#User"><button>Manage User</button></a></li>
    <li><a href="#orders history"><button>My orders</button></a></li>
    <li><a href="#contact"><button>Payment Settings</button></a></li>
    <li><a href="myaccount.html"><button>Help</button></a></li>
    <li><a href="myaccount.html"><button>Promotions</button></a></li>
    <li><a href="myaccount.html"><button>Logout</button></a></li>
</div>
</body>
</html>