<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
    <h1>My Store</h1>
</div>
<ul class="nav">
    <li><a href="index.html"><button>Home</button></a></li>
    <li><a href="#products"><button>Products</button></a></li>
    <li><a href="#contact"><button>MyCart</button></a></li>
    <li><a href="myaccount.html"><button>My Account</button></a></li>
</ul>
<div class="container">
    <h1>Check your Cart</h1>
</div>
</body>
</html>