<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Orders</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Orders</h1>
    <a th:href="@{/order/create}">Create an Order</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Create Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.email}"></td>
            <td th:text="${order.create_date}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <a th:href="@{'/order/update/' + ${order.id}}">Update</a> |
                <a th:href="@{'/order/delete/' + ${order.id}}" th:onclick="'return confirm(\'Are you sure you want to delete this order?\');'">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
