<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Orders</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Orders</h1>
    <a href="javascript:void(0);" onclick="ShowModal();">Add Products</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.quantity}"></td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bootstrap Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody id="productBody">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" th:value="${orderid}" id="id">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function ShowModal() {
            var modal = new bootstrap.Modal($("#myModal"));
            modal.show();
            GetProducts();
        }

        function GetProducts() {
            var orderId = $("#id").val();
            $.ajax({
                url: "http://localhost:8080/api/products/"+orderId,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    for(var index = 0; index < data.length; index++) {
                        var product = data[index];
                        $("#productBody").append("<tr><td><input type='checkbox'></td><td>"+product.id+"</td><td>"+product.name+"</td><td>"+product.description+"</td></tr>");
                    }//end for loop
                },
                error: function (error) {
                    window.console.log(error);
                }
            });
        }

        document.getElementById("save").addEventListener("click", function () {

            var dto = {};
            dto.orderId = $("#id").val();
            dto.productId = [];

            var selected = $('input[type="checkbox"]:checked, input[type="radio"]:checked');

            for(var index = 0; index < selected.length; index++) {
                var select = selected[index];

                var tr = $(select).closest("tr");

                //post this to some controller to update the order..
                var id = tr.find("td:eq(1)").text();
                dto.productId.push(id);

                //var name = tr.find("td:eq(2)").text();
            }//end for loop

            console.log(dto);
            UpdateOrder(dto);
        });

        function UpdateOrder(updateOrderDTO) {
            $.ajax({
                url: "http://localhost:8080/api/update",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(updateOrderDTO),
                success: function (data) {
                    window.console.log(data);
                },
                error: function (error) {
                    window.console.log(error);
                }
            });
        }

    </script>
</section>
</body>
</html>