<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Orders</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Orders</h1>
    <a th:href="@{/order/create}">Create an Order</a>

    <table class="table">
        <thead>
        <tr>
            <!--          add the correct th tags here  -->
        </tr>
        </thead>
        <tbody>
        <!--          add the correct tr tags here  -->
        </tbody>
    </table>
</section>
</body>
</html>