<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
  <title>Users</title>
</head>

<body>
<section layout:fragment="content">
  <h1>Users</h1>
  <a th:href="@{/user/create}">Create a User</a>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="object : ${users}">
      <td th:text="${object.id}"></td>
      <td th:text="${object.email}"></td>
      <td><a th:href="@{'/user/update/' + ${object.id}}">Update</a> <a th:href="@{'/user/delete/' + ${object.id}}">Delete</a></td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>